

/* COLOR PALLETTE {

GREECE BLUE - #101e5a
LIGHT BLUE AND GRAY - #5d80b6
GRAY BLUE - #acbdd3
GREECE WHITE - #f7f8f9
MARINE GRAY - #cbc6c3

link: https://colorpalettes.net/color-palette-1874/

}

*/


/* LANDING PAGES */

* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  background: #f7f8f9;
  padding: 70px;
  text-align:center;
  font-family: 'Oswald', sans-serif;
}

h1{
  color:#101e5a;
  font-weight:100px;
}

.container li{
    color: #101e5a;
    text-align: left;
    font-weight: bold;
}

.btn{
  color: #f7f8f9;
  background:rgba(0, 0, 0, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#5d80b6;
  padding:20px 20px;
  color:#1b1b1b;
}

.footer{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:400px;
}

.container {
    
    width: 90vw;
    height: 70vh;
    background-color: 
    #cbc6c3;


}